Reading in data

In [33]:
import pandas as pd

y = pd.read_csv('y.txt', sep='\s+', header=None).set_index(0).rename(columns={1: 'y'})
x = pd.read_csv('x.txt', sep='\s+', header=None).set_index(0).rename(columns={1: 'x'})
df = pd.concat([x,y],axis=1)
df

1. Interpolation Methods

Cubic appears to have the best result judging by the higher correlation.

In [45]:
df.interpolate(method='linear', axis=0).corr()

          x         y
x  1.000000  0.787641
y  0.787641  1.000000

In [46]:
df.interpolate(method='nearest', axis=0).corr()

          x         y
x  1.000000  0.781683
y  0.781683  1.000000

In [47]:
df.interpolate(method='cubic', axis=0).corr()

          x         y
x  1.000000  0.790044
y  0.790044  1.000000

In [58]:
df.interpolate(method='spline', order=2, axis=0).corr()

          x         y
x  1.000000  0.744164
y  0.744164  1.000000

2.