In [1]:
import pandas as pd
import numpy as np


df = pd.DataFrame(np.random.randn(5, 4))

import matplotlib as mpl
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

x = df.columns
y = df.index
X,Y = np.meshgrid(x,y)
Z = df
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.plot_surface(X, Y, Z)

In [5]:
Z

          0         1         2         3
0 -0.091599  1.247653 -0.012189 -0.488435
1 -1.241029 -0.622508 -0.463851  0.019412
2 -0.265802 -1.001388  0.827138  0.643058
3  1.435311  0.091772  0.020094 -2.061886
4  0.691222 -0.189789 -1.346503  0.842877